html{
    scroll-behavior: smooth;
}
body{
    background-color: lightgray; 
    margin: 0;
}
h1, h2, h3, h4{
    font-family: 'Frank Ruhl Libre', serif;
}
p, nav a{
    font-family: 'Fira Sans', sans-serif;
}

.wrapper{
    max-width: 375px;
    margin: auto;
}

.header_home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
}

.covered{
    background-color: #c7ddea;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.covered h1{
    margin: 3rem 0 1.5rem 1rem;
    font-size: 44px;
    line-height: 1;
}

.covered p{
    margin: 0 1rem;
    font-size: 0.9rem;
    font-weight:600;
    line-height: 1.6;
    color: #50585e;
}
.price{
    color: white;
}

.covered button{
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.7rem;
    font-weight:600;
    margin-left: 1rem;
    width: 8rem;
    height: 5rem;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0 3px 1px #b3c7d3;
    margin-top: 1rem;
}

.covered img{
    margin: 4rem 0 0 1rem;
    width: 90%;
    height: 90%;
}

.learn-more{
    background-color: #f17949;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
}

.learn-more p{
    font-size: 0.8rem;
    font-weight:600;
    line-height: 1.6;
    color: #743b24;
    margin: 8rem 0 0 0;
}
.learn-more h2{
    margin: 0 0 8rem 0;
    color: white;
    font-size: 38px;
}
.join-today p{
    font-size: 0.8rem;
    font-weight:600;
    line-height: 1.6;
    color: #6d4d15;
    margin: 8rem 0 0 0;
}
.join-today h2{
    margin: 0 0 8rem 0;
    color: white;
    font-size: 38px;
}

.join-today{
    background-color: #fab131;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
}

nav a{
    margin: auto;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    color: #8d8d8d;
    transition: color .5s;
}

nav p{
    height: 3rem;
    display: flex; 
}

.main_home section:first-of-type button{
    display: none;
}

.main_home section:first-of-type{
    background-color: #a9a19e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.info-section h1{
    font-size: 44px;
    color: white;
    margin: 2rem 0 2rem 1rem;
}
.info-text{
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.6;
    color: #433e3d;
    margin: 0 1rem 2rem 1rem;
}

.info-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 17.5rem;
    margin: 3rem 0 0 3rem; 
    border-radius: .5rem;
    box-shadow: 0px 5px 8px 0px rgba(119, 119, 119, 0.75);
}
.info-card:last-of-type{
    margin-bottom: 5rem;
}

.info-card aside{
    margin: auto;
    width: 12.7rem;
}

.info-card aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: .5rem;
    position: relative;
    top: -1.5rem;

}
.picture-background_child{
    background-color: #c7ddea;
}

.picture-background_adult{
    background-color: #fab131;
}

.picture-background_old{
    background-color: #f17949;
}

.info-card p{
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.6;
    color: rgb(155, 155, 155);
    text-align: center;
    margin: 1rem 1rem 2rem 1rem;
}
.info-card h3{
   font-size: 20px;
   margin: 1rem 0 0 0;
}
.info-card > aside img{
    margin-top: 1rem;
}

.info-card > aside img[src="img/adult.png"]{
    height: 7.4rem;
    width: 5.1rem;
    
}
.info-card > aside img[src="img/old.png"]{
    height: 7rem;
    width: 6.9rem;
    
}
.info-card > aside img[src="img/child.png"]{
    height: 7.9rem;
    width: 5.1rem;
   
}
.main_home section:last-of-type{
    background-color: #fab131;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main_home section:last-of-type h1{
    font-size: 44px;
    color: white;
    margin: 2rem 0 2rem 1rem;
}
.main_home section:last-of-type p{
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.6;
    color: #644714;
    margin: 0 3rem 2rem 3rem;
    text-align: center;
}
.main_home section:last-of-type p:last-of-type{
    margin-bottom: 4rem;
}
.instruction-steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 157px; 
}
.instruction-steps:first-of-type{
    background-color: #c7ddea;
    text-align: center;
}   
.instruction-steps p{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    
    margin: 0 5rem 4rem 5rem;
}
.instruction-steps:nth-child(3) p:first-of-type{
    margin: 0 5rem;
}
.instruction-steps h4{
    margin: 1rem auto 2rem 1rem;
    font-size: 30px;
    opacity: 0.5;
}
.instruction-steps h1, h2{
    font-size: 44px;
    line-height: 1;
}
.instruction-steps h1{
    margin: 2rem 2rem 0rem 2rem;
}
.instruction-steps h2{
    margin: 0rem 2rem 2rem 2rem;
}

.wrapper section .instruction-steps:nth-child(5){
    background-color: #f17949;
}
.wrapper section .instruction-steps:nth-child(3){
    background-color: rgb(230, 230, 230);
}
.wrapper section .instruction-steps:nth-child(2n){
    background-color: white;
}
.footer_home p{
    display: none;
}
.footer_home{ 
    background-color: grey;
    height: 180px;
}

.arrow-icon_mobile{
    position: fixed;
    left: 18.75rem;
    bottom: 9rem; 
    width: 60px;
    height: 60px;
    background-color: #ace0f3;
    border-radius: 50%;
}

.arrow-icon_desktop{
    display: none;
}

/* Contact page */
.header_contact{
    background-color: #c7ddea;
    display: flex;
    justify-content: flex-start;
    height: 20rem;
    position: relative;

    background-image: url(img/man-baby.png);
    background-repeat: no-repeat;
    background-position: 90%;
}

.header_contact h1{
    width: 12rem;
    height: 10rem;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
    margin: 4rem 0 0 1rem;
}

.main_contact{
    background-color: #a9a19e;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.main_contact h1{
    color: white;
    font-size: 42px;
    margin-left: 2rem;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin: .5rem 2rem;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}
input{
    align-self: center;
    width: 20rem;
    height: 2rem;
    border-radius: 3px;
    border-style: none;
}
textarea{
    font-family: 'Fira Sans', sans-serif;
    color: black;
    align-self: center;
    resize: none;
    width: 20rem;
    height: 10rem;
    border-radius: 3px;
    border-style: none;
}
form button{
    align-self: flex-end;
    margin: 2rem 2rem 8rem 2rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: .6rem;
    font-weight:600;    
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0 2px 1px #696462;
}
.footer_contact{

    min-width: 375px;
    height: 30rem;
    padding: 0;
}

.wrapper_footer_img{
    overflow: hidden;
    position: relative;
}

.footer_contact img[src="img/map-mobile.png"]{
    object-fit: cover;
    position: relative;
    width: 375px;
    height: 407px;
    z-index: -1;
    
}
.footer_contact img[src="img/map.png"]{
    display: none;
}
.visit-us{
    background-color: #fab131;
    width: 320px;
    height: 180px;
    color: white;
    position: relative;
    top: -32rem;
    left: 2rem;
    z-index: 5;
}

.visit-us h1{
    font-size: 38px;
    margin: 1rem 0 0 1rem; 
}

.visit-us p{
    margin: 0 0 0 1rem;
}
.wrapper_footer_img{
    height: 407px;
}

.wrapper_footer_img :not(img[src="img/map.png"]):not(img[src="img/map-mobile.png"]){
    display: flex;
   margin: auto;
}
.location{
    position: relative;
    top: -13rem;
    height:59px; 
    width:37px;
}


.arrow-icon_mobile_contact{
    position: relative;
    left: 265px;
    bottom: 25px; 
    width: 60px;
    height: 60px;
    background-color: #ace0f3;
    border-radius: 50%;
}

/* Media query */

@media screen and (min-width: 1200px) {
    body{
        background-color:white ;
    }
    .wrapper{
        min-width: 1200px;
        max-width: 1920px;
    }

    .header_home{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "covered learn-more"
        "covered join-today";

    }

    .covered{
        grid-area: covered;
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    }

    .covered h1{
        margin: 7rem 6rem 0 14rem;
        width: 30rem;
        font-size: 72px;
        font-weight: bolder;
    }
    .covered p{
        width: 30rem;
        margin: 1rem 10em 0 14rem;
        font-size: 1.7rem;

    }
    .covered button{
        position: relative;
        left: 13rem;
        top: 8rem;
        width: 14rem;
        height: 4.5rem;
        font-size: 1rem;
        transition: background-color 1s, color 0.3s;
    }
    .covered button:hover{
        background-color: rgb(175, 175, 175);
        color: rgb(255, 255, 255);
    }

    .covered img{
        width: 60%;
        height: 60%;
        align-self: flex-end;
       margin: 0 1rem 0 0;
        
    }
    .learn-more{
        grid-area: learn-more;
        justify-content: center;
    }
    .learn-more h2{
        font-size: 46px;
    }
    .learn-more p{
        font-size: 1rem;
    }
    .join-today{
        grid-area: join-today;
        justify-content: center;
    }
    .join-today h2{
        font-size: 46px;
    }
    .join-today p{
        font-size: 1rem;
    }
    nav{
        display: flex;
        justify-content: space-around;
        width: 60rem;
        margin: auto;
    }

    nav a{
        margin: 2rem 8rem;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        color: #8d8d8d;
        transition: color .5s;
        margin: auto;
    }
    nav a:hover{
        color: black;
    }

    .info-section{
        height: 30rem;
        width: 70rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 8rem 0 0 25rem;
    }

    .info-section h1{
        width: 32rem;
        height: 20rem;
        margin: 0 0 0 0;
        font-size: 72px;
        align-self: flex-start;
    }
    
    .info-section p{
        width: 30rem;
        height: 29rem;
        font-size: 1.5rem;
        margin: 0;
    }


    .info-section button{
        margin: 2rem 0 0 0;
        align-self: flex-start;
        font-family: 'Fira Sans', sans-serif;
        font-size: 1rem;
        font-weight:600;    
        width: 13rem;
        height: 4rem;
        border-radius: 2rem;
        border-style: none;
        box-shadow: 0 3px 1px #696462;
        transition: background-color 1s, color 0.3s;
    }

    .info-section button:hover{
        background-color: #5f5f5f;
        color: rgb(255, 255, 255);
    }
    
    .info-card{
        max-width: 18rem;
        height: 22rem;
        margin: 0;
        position: relative;
        justify-content: flex-end;
    }
    .info-cards{
        display: flex;
        justify-content: space-around;
        align-self: center;
        max-width: 120rem;
        min-width: 62rem;
        height: 410px;
        margin: 0;
        position: relative;
        top: 12rem;
    }
    .main_home section:first-of-type button{
        display: block;
    }

    .info-card aside{
        width: 16.25rem;
        height: 10.6rem;
        position: relative;
        top: -2rem;
    }
    .info-card h3{
        margin: 0;
    }

    .info-card > aside img[src="img/old.png"]{
        margin-top: 23px;
    }
    .info-card > aside img[src="img/child.png"]{
       margin-top: .5rem;
    }
    .main_home section:last-of-type{
        height: 70rem;
        justify-content: center;
    }
    .main_home section:last-of-type p{
       width: 50rem;
       font-size: 1.5rem;
    }
    .main_home section:last-of-type p:last-of-type{
        margin-bottom: 14rem;
    }
    .main_home section:last-of-type h1{
        font-size: 72px;
        margin-top: 14rem;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .instruction-steps{
        height: 20rem;
        display: block;
    }
    .instruction-steps :not(h4){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .instruction-steps p{
        font-size: 1.3rem;
        margin: 5rem 12rem 0 12rem;
    }
    .instruction-steps:nth-child(3) p:first-of-type{
        font-size: 1.3rem;
        margin-top: 5rem;
    }
    .instruction-steps:nth-child(3) p:last-of-type{
        font-size: 1.3rem;
        margin: 0;
    }
    .instruction-steps:nth-child(4) p{
        font-size: 1.3rem;
        margin: 5rem 10rem 0 10rem;
    }
    .instruction-steps h1{
       margin-top: 8rem;
    }
    .instruction-steps h4{
       font-size: 38px;
    }
    .footer_home p{
        display: block;
        margin: 0;
    }
    .footer_home a{
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
    }
    .footer_home{
        height: 25rem;
    }
    .take-me-up{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #a9a19e;
        min-width: 75rem;
        max-width: 120rem;
        height: 5rem;
    }
    .arrow-icon_mobile{
        display: none;
        
    }
    .arrow-icon_desktop{
        display: block;
        margin: auto;
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .header_contact{
        justify-content: center;
        background-position: 80%;
    }
    
    .header_contact h1{
        width: 28rem;
        height: 5rem;
        align-self: center;
        font-size: 64px;
        
    }
    
    .main_contact{
       
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
    }

    .main_contact h1{
        width: 28rem;
        margin: 5rem 0 0 0;
        font-size: 64px;
    }
    .main_contact form{
        margin: 5rem 0 0 0;
    }
    label{
        margin: 1rem 0 .4rem 0;
    }
    form button{
        width: 10rem;
        height: 3rem;
        font-size: .8rem;
        transition: background-color 1s, color 0.3s;
    }

    form button:hover{
        background-color: #5f5f5f;
        color: rgb(255, 255, 255);
    }
    .footer_contact{
        overflow: hidden;
        background-color: #777574;
        height: 80rem;
    }
    
    .footer_contact img[src="img/map.png"]{
       display: block;
        width: 100%;
        height: 780px;
        position: relative;
        object-fit: contain;
        z-index: 0;
    }
    .footer_contact img[src="img/map-mobile.png"]{
        display: none;
    }
    .wrapper_footer_img{
        height: 780px;
        overflow: initial;
    }
    .visit-us{
        display: flex;
        flex-direction: column;
        position: relative;
        top: -40%;
        height: 220px;
        left: 23%; 
    }
   
    .location{
        width: 72px;
        height: 114px;
        padding-top: 0px;
        position: relative;
        z-index: 1;
        top: -25rem;
    }

    .arrow-icon_mobile_contact{
        display: none;
    }
}